@use 'variables' as *;
@use 'mixins' as *;


body {
  font-family: $font-family;
  font-size: $base-font-size;
  line-height: $line-height;
  background: url('#{$img-path}/bg.gif') $white repeat-x;
  margin: 0;
}
main { @include center($container); padding: 0 10px; }


figure {
  width: 400px; height: 190px;
  background: url('#{$img-path}/logo.png') no-repeat 0 50px;
  float: left; display: block; margin: 0;
}


header {
  width: inherit; clear: both; text-align: center; padding-top: 40px;

  img { max-width: 100%; height: auto; }
  h1 { color: $primary; font-weight: 100; font-size: 4em; line-height: 0; }
  h2 { color: $white; font-weight: 900; font-size: 2.5em; line-height: 0; margin-bottom: 70px; }
  h3 { color: $grey-1; font-weight: 400; font-size: 2em; line-height: 0; margin-bottom: 50px; }
}


#headline {
  @include box(100%, 130px, $accent, 0, 0, null, center);

  h1 { color: $white; font-size: 2.5em; font-weight: 100; padding-top: 50px; }
}

#content {
  @include center($container);
  margin: 20px auto;

  h3 { color: $grey-1; font-size: 2em; font-weight: 400; }

  #products {
    width: $half; float: left;

    article { margin-bottom: 40px; }
    img { float: left; margin-right: 20px; }
    h4 { line-height: 1em; }
  }

  #testimonials { width: $half; float: right; }
}


.greybar { @include box(100%, 90px, $grey-2, 30px 0 0); clear: both; }
footer   { @include box(100%, 120px, $dark, 50px 0 0, 0, $white, center); }

.social-media {
  margin: 0 auto; width: 165px;

  div { float: left; margin-right: 5px; }
  a { display: block; width: 36px; height: 36px; text-indent: -9999px; }

  .one   { background: url('#{$img-path}/social-media.png') 0 0; }
  .two   { background: url('#{$img-path}/social-media.png') -38px 0; }
  .three { background: url('#{$img-path}/social-media.png') -76px 0; }
  .four  { background: url('#{$img-path}/social-media.png') -114px 0; }
}
