@use 'variables' as *;

@mixin size($w: auto, $h: auto) {
  width: $w;
  height: $h;
}

@mixin box($w: auto, $h: auto, $bg: null, $pad: 0, $mar: 0, $color: null, $align: null) {
  width: $w;
  @if $h != auto { height: $h; }
  @if $bg { background: $bg; }
  padding: $pad;
  margin: $mar;
  @if $color { color: $color; }
  @if $align { text-align: $align; }
}

@mixin center($w) {
  width: $w;
  margin-left: auto;
  margin-right: auto;
}

@mixin bg-img($url, $pos: 0 0, $repeat: no-repeat, $size: auto) {
  background: url(#{$url}) $repeat $pos;
  @if $size != auto { background-size: $size; }
}


@mixin break($point) {
  @if $point == md { @media screen and (max-width: $bp-md) { @content; } }
  @else if $point == sm { @media screen and (max-width: $bp-sm) { @content; } }
  @else if $point == xs { @media screen and (max-width: $bp-xs) { @content; } }
}
